<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/">India Vaccines</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf = "isLoggedIn && isAdmin">
                <a class="nav-link" [routerLink]="['/vaccine', decodedToken.name]">Producer</a>
            </li>
            <li class="nav-item" *ngIf = "isLoggedIn && !isAdmin">
                <a class="nav-link" [routerLink]="['/consumer',decodedToken.email]">Consumer</a>
            </li>
            <li class="nav-item"  *ngIf = "isLoggedIn && isAdmin">
                <a class="nav-link" routerLink="/cities">City Transfer</a>
            </li>
            <li class="nav-item"  *ngIf = "isLoggedIn && !isAdmin">
                <a class="nav-link" [routerLink]="['/cart',decodedToken.email]">Cart</a>
            </li>
        </ul>
        <div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 80%;" *ngIf = "!isLoggedIn"> 
            <button type="button" class="btn btn-primary"><a routerLink="/login" style="text-decoration: none; color: white;">Login</a></button>
            <button type="button" class="btn btn-success"><a routerLink="/signupProducer" style="text-decoration: none; color: white;">Signup</a></button>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 75%;" *ngIf = "isLoggedIn"> 
            <button type="button" class="btn btn-danger"><a routerLink="/" style="text-decoration: none; color: white;" (click) = "logOut()">Log Out</a></button>
        </div>
    </div>
</nav>